[package]
name = "gc-arena"
version = "0.2.1"
authors = ["kyren <kerriganw@gmail.com>"]
edition = "2018"
license = "MIT"
description = "safe garbage collected arenas"
readme = "../../README.md"
repository = "https://github.com/kyren/gc-arena"

[features]
default = ["std"]
std = []

[dependencies]
gc-arena-derive = { path = "../gc-arena-derive", version = "0.2.1"}

[dev-dependencies]
rand = "0.8"
trybuild = "1.0"
